img{
    width: 100%;
}

body {
    background-color: #9b9b9b88;
}

ul li {
    list-style: none;
}

#menu ul li {
    border: 3px solid;
    border-color: #fd0505c5;
    padding: 3px;
    margin: 3px;
}

#menu{
    font-size: 1.8em;
    position: absolute;
}

#menu, a{
    text-decoration: none;
    width: 30%;
}

#principal {
    position: absolute;
    width: 64%;
    left: 33%;
}

#principal h1 {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid;
}

#principal h2 {
    line-height: 50px;
    margin-left: 20px;
}

#principal p{
    margin-left: 20px;
    margin-bottom: 20px;
}


#ultima-e-penultima {
    margin-top: 10px;
}

#ultima {
    position: absolute;
    width: 50%;
}

#penultima {
    position: relative;
    width: 50%;
    left: 50%;
}

#linha-central {
    border-right: 1px solid;
}

#antepenultima {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#outras {
    border-top: 1px solid;
    line-height: 30px;
    margin-left: 20px;
}