img{
    width: 100%;
}

body {
  
}

ul li {
    list-style: none;
}

#menu ul li {
    border: 3px solid;
    border-color: #05fd2ec5;
    padding: 3px;
    margin: 3px;
}

#menu{
    font-size: 1.8em;
    position: absolute;
    width: 30%;
}

#menu a{
    text-decoration: none;
}

#principal {
    position: absolute;
    width: 64%;
    left: 33%;
}

#principal h1 {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid;
}

#principal h2 {
    margin-left: 20px;
}

#principal p{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 18px;
}


#ultima-e-penultima {
    margin-top: 10px;
}

#ultima {
    position: absolute;
    width: 50%;
    color: #ff0000;
}

#penultima {
    position: relative;
    width: 50%;
    left: 50%;
    color: #0000ff;
}

#linha-central {
    position: absolute;
    border-left: 1px solid;
    height: 40%;
    right: 50%;   
}

#antepenultima {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#outras {
    border-top: 1px solid;
    line-height: 30px;
    margin-left: 20px;
    font-size: 20px;
}

#antepenultima h2{
    line-height: 50px; 
}

#titulo-principal {
    line-height: 50px;
}

#link-titulo {
    text-decoration: none;
}